In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect 
import numpy as np
import requests
import json

In [6]:
# World Cities data, has 42905 cities:
cities = "top_cities.csv"
cities_junction_df = pd.read_csv(cities)

city_df = cities_junction_df[['city_ID','city']].copy()
city_df.head()

   city_ID       city
0        0     Sydney
1        1  Melbourne
2        2   Brisbane
3        3      Perth
4        4   Adelaide